<div class="footer">

  <div class="container footer-grid">

    <div class="footer">
      <img src="/assets/img/logo.png" alt="Barreto & Asociados" class="footer-logo">
      <p class="footer-name">Barreto & Asociados</p>
    </div>

    <div class="footer-links">
      <h4>Accesos rápidos</h4>
      <ul>
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="/nosotros.html">Nosotros</a></li>
        <li><a href="/servicios.html">Servicios</a></li>
        <li><a href="/publicaciones.html">Publicaciones</a></li>
        <li><a href="/contacto.html">Contacto</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4>Contacto</h4>

      <p>📍Lima, Perú</p>
      <p>📞 (01) 6846564</p>
      <p>✉️barreto@barretofirmalegal.com</p>

      <div class="footer-socials">
        <a href="https://www.linkedin.com/in/sara-barreto-aab7321b0/" target="_blank">
          <img src="/assets/img/red social/linkedin.png" alt="linkedin">
        </a>
        <a href="https://wa.me/51936187524" target="_blank">
          <img src="/assets/img/red social/wsp.png" alt="Whatsapp">
        </a>
        <a href="https://x.com/" target="_blank">
            <img src="/assets/img/red social/twitter.png" alt="twitter">
        </a>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2026 Barreto & Asociados — Todos los derechos reservados.</p>
  </div>

</div>
