/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  background: #fff;
  line-height: 1.6;
  padding-top: 90px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* HERO */
.hero {
  position: relative;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  color: white;
}

/* Imagen fondo */
.hero-bg {
  position: absolute;
  inset: 0;
  background: url("../img/hero.jpg") center/cover no-repeat;
  z-index: 1;
}
/*Logo */
.logo img{
  height: 50px;
  width: auto;
  display: block;
}

/* Capa oscura elegante */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(10, 20, 40, 0.7);
  z-index: 2;
}

/* Contenido */
.hero-content {
  position: relative;
  z-index: 3;
  max-width: 850px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  opacity: 0.9;
}

.btn-primary {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 28px;
  background: #0A1C44;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  background: transparent;
  width: 100%;
  padding: 18px 0;
  transition: 0.3s ease;
  z-index: 1000;
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.nav-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu{
  display: flex;
  gap: 28px;
  color: #111;
  list-style: none;
}
.nav-menu a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
  transition: 0.3s ease;
}
.nav-menu a:hover{
  opacity: 0.7;
  color: #c9a14a;
}

/* estado scrolleado */
.navbar.scrolled {
  background: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.navbar.scrolled .nav-menu a {
  color: white;
}
.navbar.scrolled .nav-menu a:hover {
  color: #c9a14a;
}