/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  background: #fff;
  line-height: 1.6;
  padding-top: 0 !important;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* HERO */
.hero {
  position: relative;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  color: white;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, transparent 30%);
    pointer-events: none;
}

/* Imagen fondo */
.hero-bg {
  height: 100vh; /* Ocupa el 100% del alto de la pantalla */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/hero/hero.jpg") center/cover no-repeat;
  background-size: cover;
  background-position: center;
}
/*Logo */
.logo img{
  height: 50px;
  width: auto;
  display: block;
}
/*Nosotros*/
.section{
  padding: 100px 0;
}
.about-grid{
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 70px;
  align-items: center;
}
.section-title{
  font-size: 34px;
  margin-bottom: 24px;
  font-weight: 700;
  color: #111;
}
.about-text{
  margin-bottom: 18px;
  line-height: 1.7;
  color: #444;
}
.about-imagen img{
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}
.btn-primary{
  display: inline-block;
  margin-top: 20px;
  padding: 12px 26px;
  background: #111;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}
.btn-primary:hover{
  background: #c9a14a;
  color: #111;
}
/*Servicios*/
.services-bg{
  background: rgb(231, 231, 231);
}
.center{
  text-align: center;
}
.section-subtitle{
  margin-bottom: 60px;
  color: #666;
}
.services-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.service-card{
  background: white;
  padding: 40px;
  border-radius: 10px;
  transition: 0.3s ease;
  box-shadow: 0 6px 18px rgba(0,0,0,0.05);
}
.serive-card:hover{
  transform: translate(-6px);
  box-shadow: 0 14px 30px rgba(0,0,0,0.10);
}
.service-icon{
  width: 42px;
  margin-bottom: 18px;
}
.service-card h3{
  margin-bottom: 12px;
  font-size: 18px;
}
.service-card p{
  color: #555;
  line-height: 1.6;
}
/*Sectores*/
.sectors-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.sector-item{
  display: flex;
  background: white;
  padding: 26px 20px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: 500;
  color: #222;
  border: 1px solid #eee;
  transition: 0.3s ease;
  gap: 10px;
}
.sector-item:hover{
  transform: translateY(-4px);
  border-color: #c9a14a;
  box-shadow: 0 8px 18px rgb(0,0,0,0.06);
  color:#c9a14a;
}
.sector-item img {
  width: 40px;
  margin-bottom: 10px;
}
/*===Publicaciones === */
.posts-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  margin-top: 50px;
}
.post-card{
  background: white;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #eee;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
}
.post-card img{
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.post-content{
  padding: 20px;
}
.post-date{
  font-size: 12px;
  color: #888;
}
.post-card h3{
  font-size: 18px;
  margin: 10px 0;
}
.post-card p{
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}
.post-link{
  font-weight: 600;
  color: #c9a14a;
  text-decoration: none;
}
.post-link:hover{
  text-decoration: underline;
}
/* Capa oscura elegante */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(10, 20, 40, 0.7);
  z-index: 2;
}


/* Contenido */
.hero-content {
  position: relative;
  z-index: 3;
  max-width: 850px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  opacity: 0.9;
}

.btn-primary {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 28px;
  background: #0A1C44;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  background-color: transparent;
  transition: background-color 0.4s ease, padding 0.4s ease;
  width: 100%;
  padding: 18px 0;
  transition: 0.3s ease;
  z-index: 1000;
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  display: flex;
  overflow: visible !important;
}

.nav-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu{
  display: flex;
  gap: 28px;
  color: #111;
  list-style: none;
}
.nav-menu a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
  transition: 0.3s ease;
}
.nav-menu a:hover{
  opacity: 0.7;
  color: #c9a14a;
}
/* 1. Estilo base del botón (las 3 rayitas) */
.menu-toggle {
    display: none; /* Oculto en escritorio */
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.menu-toggle span {
    width: 100%;
    height: 3px;
    background-color: #333; /* O el color dorado/corporativo de la firma */
    transition: all 0.3s ease;
}

/* estado scrolleado */
.navbar.scrolled {
  background: #0A1C44;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 10px 0;
}
.navbar.scrolled .nav-menu a {
  color: white; /*Color de letra al momento de hacer scroll*/
}
.navbar.scrolled .nav-menu a:hover {
  color: #c9a14a;
}
/*FOOTER */
.footer{
  background: #111;
  color: #ddd;
  padding: 30px 0 30px;
  font-size: 16px;
}
.footer-grid{
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  gap: 60px;
}
.footer-logo{
  height: 80px;
  margin-bottom: 12px;
  text-align: center;
}
.footer-name{
  font-weight: 600;
  color: white;
}
.footer-links h4,
.footer-contact h4{
  color: white;
  margin-bottom: 16px;
}
.footer-links ul {
  list-style: none;
  padding: 0;
}
.footer-links li {
  margin-bottom: 10px;
}
.footer-links a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}
.footer-links a:hover{
  color: #c9a14a;
}
.footer-contact p {
  margin-bottom: 10px;
}
.footer-socials {
  display: flex;
  gap: 14px;
  margin-top: 14px;
}
.footer-socials img{
  width: 22px;
  filter: brightness(0) invert(1);
  transition: 0.3s;
}
.footer-socials img:hover{
  transform: translateY(-2px);
  opacity: 0.7;
}
.footer-bottom{
  border-top: 1px solid #222;
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
  font-size: 13px;
  color: #888;
}
/* 2. Media Query para móviles */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex; /* Mostrar solo en móvil */
    }
    .menu-toggle span {
    background-color: #111; /* O el color claro que prefieras */
    transition: background-color 0.3s ease, transform 0.3s ease;
    }
    .navbar.scrolled .menu-toggle span {
    background-color: #ccc; /* Cambia a negro o gris oscuro para que resalte */
    transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .nav-menu {
        /* Posicionamiento */
        position: fixed;
        top: 100%; /* Ajusta según el alto de tu navbar */
        left: 0;
        width: 100%;
        height: auto;
        min-height: 250px;
        background-color: rgb(231, 231, 231);
        z-index: 999;
        /* Estado inicial (Oculto) */
        display: flex; /* Siempre es flex para que la transición funcione */
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px); /* Empieza un poco más arriba */
        
        /* Transición suave */
        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0 10px 15px rgba(0,0,0,0.05);
        padding: 20px 0;
    }

    /* 3. LA CLAVE: Qué pasa cuando JS añade "active" */
    .nav-menu.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .nav-menu li a{
        color: #1a1a1a !important; /* Negro elegante */
        font-weight: 500;
        display: block;
        padding: 15px;
        width: 100%;
        text-align: center;
    }
    .nav-menu li a:active {
        background-color: #f5f5f5;
        color: #c9a14a; /* Un dorado legal, por ejemplo */
    }
}
@media (max-width:768px){
  .footer-grid{
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
  }
  .footer-socials{
    justify-content: center;
  }
}
@media (max-width:900px){
  .about-grid{
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .about-content{
    text-align: center;
  }
}
@media(max-width:900px){
.services-grid{
  grid-template-columns: repeat(2,1fr);
}
}
@media (max-width:900px){
.services-grid{
  grid-template-columns: 1fr;
}
}
@media(max-width:900px){
  .sectors-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width:900px){
  .sectors-grid{
    grid-template-columns: 1fr;
  }
}
@media(max-width: 1024px){
  .posts-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 768px){
  .posts-grid{
    grid-template-columns: 1fr;
  }
}