/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  background: #fff;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.btn-primary {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 28px;
  background: #0A1C44;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}
